.articles{
	height: 608px;
	background: #f9f9f9;
}


.articles__article_1{
	width: 44.2%;
    height: 271px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: white;
    display: block;	
    float: left;
    margin-top: 100px;
    margin-left: 2.6%;
    position: relative;
    float: left;
}

.articles__article_1__caption{
	text-shadow: 0.5px 0.9px 0 white;
    font-family: 'League Gothic', arial;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #454545;
    margin-left: -6%;
    padding-top: 12px;    
}

.articles__article_1__caption__icon{
	display: inline-block;
	width: 49px;
    height: 49px;    
    background: url(../images/img_foto_men.png);
    vertical-align: bottom;
    position: relative;    
    top: 3px;
    margin-right: 2%;
}

.articles__article_1__caption--color{
	color: #edbfff;
}

.articles__article_1__text{
	text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 1% 8% 4% 8.9%;
    overflow: hidden;
    height: 170px;
}

.articles__article_1:after{
	content: '';
	border-top: 21px solid white;
	border-left: 21px solid transparent;	
	position: absolute;
	bottom: -21px;
	left: 366px;	
}
.slider__radio--article{
    clear: both;
    margin-right: 43%;
    margin-top: 65px;   
    
}
/*===========================================*/
@media screen and (max-width: 960px) {
    .articles__article_1:after{
        display: none;

    }

}
/*==========================================*/
@media screen and (max-width: 768px) {
    .articles__article_1{
        width: 43%;    
        margin-left: 3.2%;  
    }

    .articles__article_1__caption__icon{     
        top: 11px;  
        margin-left: -2px; 
        margin-right: 8px;
    }

    .articles__article_1__caption{  
        font-size: 24px; 
        padding-top: 8px;

    }

    .articles__article_1__caption--color{
        display: block;
        margin-left: 18%;
        margin-top: -3px;
    }

    .articles__article_1__text{ 
        padding: 1% 8% 4% 12.3%;    
        height: 148px;
    }

}
/*==========================================*/
@media screen and (max-width: 758px) {
    .articles{
        height: 920px;
        padding-top: 30px;  
    }

    .articles__article_1{
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 90%;     
    }
}
/*==========================================*/
@media screen and (max-width: 480px) {

    .articles {
        height: 1018px;

    }

    .articles__article_1__caption{  
        font-size: 30px;        
    }

    .articles__article_1__caption--color{
        display: inline-block;
        margin-left: 0;
        margin-top: 14px;
    }

    .articles__article_1 {    
        width: 90%;
        margin-top: 42px;
        margin-left: 8%;
    }

    .articles__article_1__text{ 
        padding: 3% 8% 4% 8.9%;   
        height: 181px;
    }
    
}
/*==========================================*/
@media screen and (max-width: 390px) {

    .articles {
        height: 1209px;    
    }

}

/*==========================================*/
@media screen and (max-width: 320px) {

    .articles__article_1__caption--color {
        display: block;
        margin-left: 51px;
        margin-top: -4px;    
    }

    .articles__article_1__caption {
        font-size: 24px;
        padding-top: 0;
    }

    .articles__article_1 {
        width: 84%;
        margin-top: 42px;
        margin-left: 12%;
    }

    .articles__article_1__caption__icon {
        top: 16px;
        margin-left: -7px;
        margin-right: 6px;
    }

    .articles__article_1__text {
        padding: 0.5% 10% 4% 14.9%;
        height: 166px;   
    }

}
/*===========================================*/
















