@font-face {
    font-family: 'League Gothic Regular ';
    src: url('../fonts/LeagueGothicRegular/leaguegothic-regular-webfont.eot');
    src: url('../fonts/LeagueGothicRegular/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LeagueGothicRegular/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('../fonts/LeagueGothicRegular/leaguegothic-regular-webfont.woff') format('woff'),
    url('../fonts/LeagueGothicRegular/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League Gothic'; 
    src: url("../fonts/LeagueGothicRegular.woff") format("woff");
    src: url("../fonts/LeagueGothicRegular.ttf") format("truetype");              
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSansLight/OpenSans-Light.eot') format('embedded-opentype');
    src: url('../fonts/OpenSansLight/OpenSans-Light.svg') format('svg');
    src: url('../fonts/OpenSansLight/OpenSans-Light.ttf') format('truetype');
    src: url('../fonts/OpenSansLight/OpenSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/OpenSansExtraBold/OpenSans-ExtraBold.eot') format('embedded-opentype');
    src: url('../fonts/OpenSansExtraBold/OpenSans-ExtraBold.svg') format('svg');
    src: url('../fonts/OpenSansExtraBold/OpenSans-ExtraBold.ttf') format('truetype');
    src: url('../fonts/OpenSansExtraBold/OpenSans-ExtraBold.woff') format('woff');
}
