
.menu{
	list-style: none;
	font-size: 0;	
	float: right;
	padding-top: 72px;	

}

.menu_mobile{
	display: none;
}


.menu__item{
	display: inline-block;    
}

.menu__link_1,
.menu__link_2,
.menu__link_3,
.menu__link_4,
.menu__link_5,
.menu__link_6{
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-family: 'League Gothic', arial;
	font-size: 24px;
	font-weight: 400;
	text-decoration: none;   
	display: inline-block;   
}

.menu__link_1{
	margin-right: 2.1em;
}

.menu__link_2{
	margin-right: 2.1em;
}

.menu__link_3{
	margin-right: 2.2em;
}

.menu__link_4{
	margin-right: 2.2em;
}

.menu__link_5{
	margin-right: 2em;
}

.menu__item_link--hover:hover{
	text-decoration: underline;	
}

.menu--bottom{
	top: 0;
	margin-left: 0;
	margin-top: 42px;
	padding: 0;
	float: left;
}


.menu__link_1--bottom,
.menu__link_2--bottom,
.menu__link_3--bottom,
.menu__link_4--bottom,
.menu__link_5--bottom,
.menu__link_6--bottom{	    
	font-size: 20px;
	font-weight: 400;    
}

.menu__link_1--bottom{
	width: 48px;
	margin: 0;
}

.menu__link_2--bottom{
	margin: 0;
	margin-left: 25px;
}

.menu__link_3--bottom{
	margin: 0;
	margin-left: 44px;	
}

.menu__link_4--bottom{
	margin: 0;
	margin-left: 42px;	
}

.menu__link_5--bottom{
	margin: 0;
	margin-left: 43px;
}

.menu__link_6--bottom{	
	margin: 0;
	margin-left: 41px;
}
/*==========================================*/
@media screen and (max-width: 980px) {

	.menu__link_1{
		margin-right: 1.5em;
	}

	.menu__link_2{
		margin-right: 1.5em;
	}

	.menu__link_3{
		margin-right: 1.5em;
	}

	.menu__link_4{
		margin-right: 1.5em;
	}

	.menu__link_5{
		margin-right: 1.5em;
	}
	.menu__link_2--bottom{	
		margin-left: 1em;
	}

	.menu__link_3--bottom{	
		margin-left: 1em;	
	}

	.menu__link_4--bottom{	
		margin-left: 1em;	
	}

	.menu__link_5--bottom{	
		margin-left: 1em;
	}

	.menu__link_6--bottom{	
		margin-left: 1em;
	}

}
/*==========================================*/
@media screen and (max-width: 768px) {
	.menu{
		display: block;
		float: none;
		padding-top: 21px;	
	}

	.menu__link_1{
		margin: 0;
	}

	.menu__link_2{
		margin: 0;
		margin-left: 2.2em;
	}

	.menu__link_3{
		margin: 0;
		margin-left: 2.2em;
	}

	.menu__link_4{
		margin: 0;
		margin-left: 2.1em;
	}

	.menu__link_5{
		margin: 0;
		margin-left: 2.1em;
	}

	.menu__link_6{
		margin: 0;
		margin-left: 2.1em;
	}
	.menu--bottom{
		margin: 0;
		padding-top: 43px;
	}

	.menu__link_2--bottom{
		margin: 0;
		margin-left: 27px;
	}

	.menu__link_6--bottom{	
		margin: 0;
		margin-left: 30px;
	}

}
/*==========================================*/
@media screen and (max-width: 758px) {
	.menu__link_1{
		margin: 0;
	}

	.menu__link_2{
		margin: 0;
		margin-left: 0.6em;
	}

	.menu__link_3{
		margin: 0;
		margin-left: 0.6em;
	}

	.menu__link_4{
		margin: 0;
		margin-left: 0.6em;
	}

	.menu__link_5{
		margin: 0;
		margin-left: 0.6em;
	}

	.menu__link_6{
		margin: 0;
		margin-left: 0.6em;
	}
}
/*===========================================*/
@media screen and (max-width: 480px) {
	.menu--mobile{
		display: block;
		margin: 0;
		padding: 0;
		position: absolute;
		width: 248px;
		left: 50%;
		top: 133px;
		transform: translateX(-50%);	
		list-style: none;
		z-index: 1;
	}

	.menu__item--mobile{
		display: block;	
		margin: 0;
		padding: 0;
		height: 42px;	
	}

	.menu__link--mobile{
		display: block;
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 24px;
		font-weight: 400;
		line-height: 41px; 
	}

	.menu__item--mobile:nth-of-type(1)>a{
		padding-top: 4px;
		width: 47px;
		height: 43px;
		margin: 0 auto;
		border-bottom: 2px solid #edbfff;    

	}

	.menu__item--mobile:nth-of-type(1){
		height: 48px;
		border-radius: 10px 10px 0 0;		

	}

	.menu__item--mobile:hover{
		border-bottom: 2px solid rgb(237, 191, 255);
		background: rgba(0, 0, 0, 0.3);		
	}

	.menu__link--mobile:hover{
		text-decoration: none;
	}

	.menu__item--mobile:nth-of-type(6):hover{
		border-bottom: none;
		border-radius: 0 0 10px 10px;	
	}

	.menu__item--mobile:nth-of-type(1):hover{
		border: none;	
		border-radius: 10px 10px 0 0;
		background-color: rgba(54, 41, 62, 0.9);
	}


	.menu__item--mobile:nth-of-type(2),
	.menu__item--mobile:nth-of-type(3),
	.menu__item--mobile:nth-of-type(4),
	.menu__item--mobile:nth-of-type(5),
	.menu__item--mobile:nth-of-type(6){
		display: none;
	}

	.menu--mobile:hover>.menu__item--mobile{
		display: block;
	}

	.menu--mobile:hover{
		background-color: rgba(54, 41, 62, 0.9);
		border: 1px solid rgb(5, 17, 22);    
		border-radius: 10px;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	}

	.menu--mobile:hover>.menu__item--mobile{
		border-top: 1px solid rgb(53, 39, 61);
		box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59);
	}


	.menu--bottom{
		display: block;		
		padding-top: 44px;
	}

	.menu__link_1--bottom{	
		margin: 0;
		margin-left: 12px;
	}

	.menu__link_2--bottom{
		margin: 0;
		margin-left: 6px;
	}

	.menu__link_3--bottom{
		margin: 0;
		margin-left: 26px;	
	}

	.menu__link_4--bottom{
		margin: 0;
		margin-left: 25px;	
	}

	.menu__link_5--bottom{
		margin: 0;
		margin-left: 24px;
	}

	.menu__link_6--bottom{	
		margin: 0;
		margin-left: 12px;
	}

}

/*==========================================*/
@media screen and (max-width: 320px) {

	.menu--bottom{
		display: none;
	}

}
/*==========================================*/









